#title{
  background-color: #ff4c68;
  color: white;
}
body{
  font-family: 'Ubuntu';

}
h1{
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid{
  padding: 3% 15% 7%;
}
.navbar{
  padding-bottom: 3rem;
}
.navbar-brand{
  font-size: 2rem;
  font-family: 'Ubuntu';
}
.nav-item{
  padding: 0 18px;
}
 .download-button{
   margin: 5% 3% 5% 0;
 }
 .title-img{
   width:20%;
   transform: rotate(25deg);
   position: absolute;
   right: 25%;
 }
#features{
  padding:  7% 15% ;
  position: relative;
  background-color: white;
}
.features{
  text-align: center;
  padding: 5%;
}
h3{
  font-family: "Montserrat-bold";
  font-size: 1.5rem;
  color: white;
  padding-top: 20px;
}
p{
  color: #8f8f8f;
}
h2{
  font-family: "Montserrat-bold";
  font-size: 3rem;
  color: black;
}
em{
  color: white;
}
.key{
  color: #ef8172;
  margin-bottom: 1rem;
}
.key:hover{
  color: grey;
}
#testimonials{
  text-align: center;
  background-color:#ef8172;
}
.dogimg{
  border-radius: 100%;
  height: 5rem;
}
#press{
    background-color:#ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.logo{
  width: 15%;
  margin:20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}
.header{
  padding: 2%;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.pricingcol{
  padding: 2% 3%;
}
.white{
  color: #8f8f8f;
}
#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}
.true{
  font-family: "Montserrat-bold";
  color: white;
  font-size: 3rem;
}
#footer{
  text-align: center;
  padding: 7% 15%;
}
.footer{
  margin: 20px 10px;
}

@media (max-width:1028px) {


   #title{
     text-align: center;
   }

    .title-img{
      width:50%;
      transform: rotate(0deg);
      position: static;
      border-right: 2%;
    }
  }
